*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
 font-size: 10px;
 scroll-behavior: smooth;
}

body{
    background-color: rgb(4, 123, 128);
    font-family: 'Roboto', sans-serif;
    color: white;
}

img{
    max-width: 100%;
}

iframe{
    max-width: 100%;
    min-width: 100%;
    min-height: 220px;
}

.move-to--top{
    display: none;
}

input{
    display: none;
}

h1{
    font-size: 2.75rem;
    text-align: center;
}

p{
    line-height: 1.6;
}
.container{
    background-color:  rgb(2, 87, 90);
    margin-top: 3em;
}

section{
    padding: 2em 0;
    width: 80%;
    margin: 0 auto;
}

.naglowek{
    background-color:  rgb(2, 87, 90);
    padding: 3em 0;
    position: relative;
}

.fa-bars{
    position: absolute;
    top: 79%;
    right: 10px;
    font-size: 20px;
}

header{
    background-color:  rgb(2, 87, 90);
    position: absolute;
    width: 100%;
    margin-top: 1em;
    transition-property: transform;
    transform-origin: top;
    transition: 600ms ease-in-out;
    transform: scale(1,0);
}

.tool_nav:checked ~ header{
    transform: scale(1,1);
}

.intro__nav{
    list-style: none;
    margin-top: 3em;
    padding: 1em 0;
}

.intro__nav li{
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
}
.intro__nav li a{
    margin: 0.2em 0;
    padding: 0.75em 0;
    display: block;
    color: white;
    text-decoration: none;
    transition: 400ms ease-in-out;
    transform-origin: right;
}


.intro__nav li a:hover{
    background-color: rgb(4, 123, 128);
    color: black
}

.intro__text h1{
    margin-bottom: 1em;
}

.intro__text p{
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.intro__map{
    max-width: 100%;
    text-align: center;
}

.route__text{
    text-align: center;
}

.route__text h1{
    margin-bottom: 1em;
}

.route__text p{
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: left;
}

.route__text a{
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(4, 123, 128);
    padding: 1em 2em;
    border-radius: 100px;
    font-size: 1.75rem;
    margin-bottom: 2em;
    transition: 0.4s ease-in-out;
    transition-property: background-color;
}

.route__text a:hover{
    background-color: rgb(7, 175, 180);
}

.route__img__image{
    margin: 0.5em 0;
}

.route__map{
    margin-top: 2em;
}

@media (min-width: 600px){
    h1{
        font-size: 4rem;
    }

    .intro__text p, .route__text p{
        font-size: 2rem;
    }

    .intro__map, .route__map{
        max-width: 450px;
        margin: 0 auto;
    }

    iframe{
        min-height: 270px;
    }

    .route__img{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .route__img__image{
        max-width: 50%;
        padding: 1rem;
        font-size: 0;
    }
}

@media (min-width: 900px){
    .intro__map, .route__map{
        max-width: 550px;
        margin: 0 auto;
    }

    iframe{
        min-height: 320px;
    }
}

@media (min-width:1200px){
    h1{
        font-size: 6rem;
    }

    .intro__text p, .route__text p{
        font-size: 2rem;
    }

    .route__text{
        padding-right: 2em;
        width: 40%;
    }

    .route__text h1{
        margin-bottom: 0.25em;
    }

    .flex_for_1200px{
        display: flex;
        align-items: center;
    }

    .intro__map, .route__map{
        max-width: 700px;
        margin: 0 auto;
    }

    iframe{
        min-height: 400px;
    }

    .route__img{
        width: 60%;
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .route__img__image{
        max-width: 45%;
        padding: 1rem;
        font-size: 0;
    }
    header{
        position: static;
        transform: scale(1,1);
        transition-property: background-color, color;
        margin: 0;
    }
    .intro__nav{
        margin:0;
        display: flex;
        justify-content: space-between;
    }
    .intro__nav li{
        font-size: 1.75rem;
    }

    .intro__nav li a{
        padding: 1.5em 1em;
        border-radius: 100px;
    }

    .tool_nav{
        display: none;
    }
}


